.highlight {
  position: relative;
}
.btn-copy {
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 6px;
  color: #e0e0e0;
  background: rgba(50,50,50,0.9);
  border-radius: 4px;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: all linear 0.2s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.btn-copy >i {
  margin-right: 4px;
  font-size: 10px;
  transform: translateY(1px);
}
.btn-copy:hover {
  background: rgba(70,70,70,0.95);
  color: #fff;
}
.highlight:hover .btn-copy {
  opacity: 1;
}
.article pre:hover .btn-copy {
  opacity: 1;
}
